.formItem {
    position: relative;
    margin: 5px 0;
}

.label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
}

.input {
    display: block;
    width: 100%;
    outline: none;
    padding: 12px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-primary;

    transition: all .3s ease;

    &:focus {
        border-color: $color-info;
    }

    

    &:focus + label,
    &:valid + label {
        font-size: 12px;
        top: -7px;
        color: $color-info;
    }
}
