.task {
    display: block;
    background-color: $color-bg;
    // border: 1px solid $color-primary;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    @include get-font($font-body-2)
}

.header {
    display: flex;
}

.title{
    margin-right: auto;
}

.delete{
    fill:$color-danger;
    margin-left: 16px;
}

.footer {
    margin-left: 26px;
}


