.header{
    position: relative;
    background-color: $color-bg;
    @include flex-center;
}

.menu{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.tasks{
    padding: 20px;
}