.menu {
    position: relative;
    display: inline-block;
}

.list {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    padding: 8px 0;
    border-radius: 8px;
    background-color: $color-bg;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
