.menu {
    position: relative;
    display: inline-block;
}

.list {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 250px;
    padding: 8px 0;
    border-radius: 8px;
    background-color: $color-background;
}
