.menu {
    position: relative;
    display: inline-block;
}

.list {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    padding: 8px 0;
    border-radius: 8px;
    background-color: $color-bg;
    transform: translateY(100%);
}
