.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-bg;
    padding: 12px;
    border-radius: 8px;
    @include get-font($font-body-1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stats {
    display: flex;
    @include flex-center;
    background-color: $color-header-bg;
    border-radius: 8px;
    padding: 10px;
    @include get-font($font-body-1)
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description {
    width: 200px;
    @include limit-text-length;
}