.item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background-color: $color-hover;;
    }

    &[data-variant='info'] {
        color: $color-text;
        fill: $color-text;
    }

    &[data-variant='danger'] {
        color: $color-danger;
        fill: $color-danger;
    }
}

.label {
    margin-left: 8px;
}
