.item {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    cursor: pointer;

    &:hover {
        background-color: $color-bg;
    }

    &[data-variant='danger'] {
        color: $color-text;
        fill: $color-text;
    }

    &[data-variant='danger'] {
        color: $color-danger;
        fill: $color-danger;
    }
}

.label {
    margin-left: 20px;
}
