$color-primary: var(--color-primary);
$color-app-bg: var(--color-app-bg);
$color-bg: var(--color-bg);
$color-header-bg: var(--color-header-bg);
$color-footer-bg: var(--color-footer-bg);
$color-text: var(--color-text);
$color-header-text: var(--color-header-text);
$color-footer-text: var(--color-footer-text);
$color-link-text: var(--color-link-text);
$color-border: var(--color-border);
$color-button-bg: var(--color-button-bg);
$color-button-text: var(--color-button-text);
$color-hover: var(--color-hover);
$color-info: var(--color-info);
$color-info-light: var(--color-info-light);
$color-success: var(--color-success);
$color-success-light: var(--color-success-light);
$color-danger: var(--color-danger);
$color-danger-light: var(--color-danger-light);
