//Web App variables:
$color-twa-header: var(--tg-header-color);
$color-twa-background: var(--tg-bg-color);

//Theme parameters variables:
$color-text: var(--tg-theme-text-color);
$color-background: var(--tg-theme-bg-color);
$color-background-secondary: var(--tg-theme-secondary-bg-color);
$color-button: var(--tg-theme-button-color);
$color-button-text: var(--tg-theme-button-text-color);
$color-hint: var(--tg-theme-hint-color);
$color-link: var(--tg-theme-link-color);
