//Web App variables:
$color-twa-header: var(--tg-header-color);
$color-twa-background: var(--tg-bg-color);

//Theme parameters variables:
$color-text: var(--tg-theme-text-color);
$color-background: var(--tg-theme-bg-color);
$color-background-secondary: var(--tg-theme-secondary-bg-color);
$color-button: var(--tg-theme-button-color);
$color-button-text: var(--tg-theme-button-text-color);
$color-hint: var(--tg-theme-hint-color);
$color-link: var(--tg-theme-link-color);

$color-success-900: #6faa5b;
$color-success-800: #558346;
$color-success-700: #639851;
$color-success-600: #6faa5b;
$color-success-400: #b6d0b0;
$color-success-200: #e9f0e7;
$color-success-100: #f4f7f3;

$color-info-900: #49a2f9;
$color-info-800: #387dc0;
$color-info-700: #4190de;
$color-info-600: #49a2f9;
$color-info-400: #a0d1ff;
$color-info-200: #daedff;
$color-info-100: #edf6ff;

$color-warning-900: #ff8f3e;
$color-warning-800: #c56e30;
$color-warning-700: #e47f37;
$color-warning-600: #ff8f3e;
$color-warning-400: #ffc3a8;
$color-warning-200: #ffece5;
$color-warning-100: #fff6f2;

$color-danger-900: #ee5353;
$color-danger-800: #b84040;
$color-danger-700: #d44a4a;
$color-danger-600: #ee5353;
$color-danger-400: #f4adad;
$color-danger-200: #fbe7e7;
$color-danger-100: #fdf3f3;