:root {
    --color-primary: #229ed9;

    &[data-theme='light'] {
        /* Backgrounds */
        --color-app-bg: #f6f6f6;
        --color-bg: #ffffff;
        --color-header-bg: #f1f1f1;
        --color-footer-bg: #f1f1f1;

        /* Text */
        --color-text: #333333;
        --color-header-text: #212121;
        --color-footer-text: #616161;
        --color-link-text: var(--color-primary);

        /* Borders */
        --color-border: #dddddd;

        /* Buttons */
        --color-button-bg: var(--color-primary);
        --color-button-text: #ffffff;

        /* Other */
        --color-hover: #f1f1f1d9;
    }

    &[data-theme='dark'] {
        /* Backgrounds */
        --color-app-bg: #0e1621;
        --color-bg: #182533;
        --color-header-bg: #1f1f1f;
        --color-footer-bg: #1f1f1f;

        /* Text */
        --color-text: #ffffff;
        --color-header-text: #ffffff;
        --color-footer-text: #a1a1a1;
        --color-link-text: var(--color-primary);

        /* Borders */
        --color-border: #333333;

        /* Buttons */
        --color-button-bg: var(--color-primary);
        --color-button-text: #121212;

        /* Other */
        --color-hover: #2d2d2d;
    }

    /* Info, Success, Danger */
    --color-info: #17a2b8;
    --color-info-light: #4fb6c4;
    --color-success: #28a745;
    --color-success-light: #6dc173;
    --color-danger: #dc3545;
    --color-danger-light: #e76a6f;
}
