@use 'sass:map';

$font-header-1: (
    'font-size': 26px,
    'font-weight': 700,
    'line-height': 1.2,
);

$font-header-2: (
    'font-size': 22px,
    'font-weight': 700,
    'line-height': 1.2,
);

$font-header-3: (
    'font-size': 18px,
    'font-weight': 700,
    'line-height': 1.2,
);

$font-header-4: (
    'font-size': 16px,
    'font-weight': 700,
    'line-height': 1.2,
);

$font-body-1: (
    'font-size': 14px,
    'font-weight': 400,
    'line-height': 1.5,
);

$font-body-2: (
    'font-size': 12px,
    'font-weight': 400,
    'line-height': 1.5,
);

$font-button: (
    'font-size': 14px,
    'font-weight': 700,
    'line-height': 0,
);

@mixin get-font($font) {
    $font-size: map.get($font, 'font-size');
    $font-weight: map.get($font, 'font-weight');
    $line-height: map.get($font, 'line-height');

    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}
