.chip {
    border-radius: 8px;
    padding: 4px;

    @include get-font($font-body-2);

    &[data-variant='completed'] {
        background-color: $color-success-light;
    }

    &[data-variant='left'] {
        background-color: $color-danger-light;
    }
}
