.landing{
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 ;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
