.circularProgressBar {
    text-align: center;
}

.progressCircle {
    stroke: #ccc;
    stroke-width: 4;
}

.progressFill {
    stroke-width: 4;
    transition: stroke-dashoffset 0.5s;
}

.percentageLabel {
    @include get-font($font-body-2);
    fill: $color-text;
}
